*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

main{
    height: 1000px;
    width: 100%;
    position: absolute;
    background-color: #dbdbd2;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

div.green-bar{
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color: #009688;
    top: 0;
}

div.container{
    height: 900px;
    width: 1400px;
    background-color: white;
    z-index: 3;
    position: relative;
    top: 5vh;
    margin: 0 auto;
}

div.left-container{
    width: 35%;
    height: 100%;
    background-color: #eaeaea;
}

div.user{
    height: 8%;
    background-color: red;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row;
}