*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

main{
    height: 1000px;
    width: 100%;
    position: absolute;
    background-color: #dbdbd2;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

i{
    cursor: pointer;
}

div.green-bar{
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color: #009688;
    top: 0;
}

div.container{
    height: 900px;
    width: 1400px;
    background-color: white;
    z-index: 3;
    position: relative;
    top: 5vh;
    margin: 0 auto;
}

div.left-container{
    width: 35%;
    height: 100%;
    background-color: #eaeaea;
}

div.user-profile{
    height: 8%;
    border-right: 1px solid #d6d6d6;
}

div.icons i{
    color: #b1b1b1;
    margin: 0 .7rem;
    font-size: 1.3rem;
}

div.notifications{
    height: 10%;
    background-color: #8edafc;
}

div.icon i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #8edafc;
    margin: 0 .5rem 0 1rem;
    background-color: #f2fbff;
}

div.notification-text p{
    font-size: .9rem;
}

div.notification-text a{
    font-size: .9rem;
    color: grey;
}

div.search-bar{
    height: 4%;
    background-color: #fafafa;
}

div.search-bar input{
    padding: .3rem;
}

div.bar{
    width: 100%;
    padding: 0 2rem;
}

div.contacts{
    height: 78%;
    background-color: white;
    overflow-y: scroll;
}

div.user{
    height: 10%;
    background-color: white;
}

div.image{
    margin: 0 1rem;
}

div.text-container{
    width: 100%;
    justify-content: space-between;
}

div.text p.user-name{
    font-size: 1rem;
}

div.text p.last-access{
    font-size: .8rem;
}

div.date p{
    font-size: .8rem;
    color: #c1cfd7;
    margin: 0 1rem;
}

div.chat-container{
    width: 65%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

div.texted-user{
    height: 8%;
    background-color: #eaeaea;
}

div.chat-msg{
    height: 85%;
}

div.chat-footer{
    height: 7%;
    background-color: #f3eeea;
    border-left: 1px solid #d6d6d6;
    justify-content: space-evenly;
}

div.chat-footer i{
    color: #6b7374;
    font-size: 1.3rem;
}

div.msg-bar input{
    padding: .5rem 20rem;
    border-radius: .3rem;
    border: none;
}

.flex{
    display: flex;
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.grey{
    color: #ad9e9d;
}

.light-grey{
    color: #c1cfd7;
}

#search-bar{
    width: 100%;
}