*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

i{
    cursor: pointer;
    color: #b1b1b1;
}

div.container{
    height: 900px;
    width: 1400px;
    background-color: white;
    margin: 1.5rem auto;
}

div.left-container{
    width: 35%;
    height: 100%;
    background-color: #eaeaea;
}

div.user-profile{
    height: 8%;
    border-right: 1px solid #d6d6d6;
}

div.icons i{
    margin: 0 .7rem;
    font-size: 1.3rem;
}

div.notifications{
    height: 10%;
    background-color: #8edafc;
}

div.icon i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #8edafc;
    margin: 0 .5rem 0 1rem;
    padding: .68rem;
    background-color: #f2fbff;
}

div.notification-text p{
    font-size: .9rem;
}

div.notification-text a{
    font-size: .9rem;
    color: grey;
}

div.search-bar{
    height: 4%;
    background-color: #fafafa;
}

div.search-bar label{
    background-color: white;
    padding: 0 2rem;
}

div.search-bar input{
    padding: .3rem;
    border: none;
}

div.bar{
    width: 100%;
    padding: 0 2rem;
}

div.contacts{
    height: 78%;
    background-color: white;
    overflow-y: scroll;
}

div.user{
    height: 10%;
    border-bottom: 1px solid #e9ebeb;
}

div.image{
    margin: 0 1rem;
}

div.text-container{
    width: 100%;
    justify-content: space-between;
}

div.text p.user-name{
    font-size: 1rem;
}

div.text p.last-access{
    font-size: .8rem;
}

div.date p{
    font-size: .8rem;
    color: #c1cfd7;
    margin: 0 1rem;
}

div.chat-container{
    width: 65%;
    background-image: url(../img/mine.jpg);
}

div.texted-user{
    height: 8%;
    background-color: #eaeaea;
}

div.chat-msg{
    height: 85%;
    overflow-y: scroll;
}

div.chat-footer{
    height: 7%;
    background-color: #f3eeea;
    border-left: 1px solid #d6d6d6;
    justify-content: space-evenly;
}

div.chat-footer i{
    color: #6b7374;
    font-size: 1.3rem;
}

div.msg-bar input{
    padding: .8rem 20rem;
    border-radius: .3rem;
    border: none;
}

/* div.msg{
    height: 50px;
    width: 300px;
    border-radius: .5rem;
    margin: 1rem 4rem 0;
} */

div.msg div.text-container div.text p{
    padding: 1rem 2rem;
}

div.msg div.date p{
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: .6rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.grey{
    color: #ad9e9d;
}

.light-grey{
    color: #c1cfd7;
}

.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
    width: 300px;
    border-radius: .5rem;
    margin: 1rem 4rem 0;
}

.received{
    background-color: white;
    width: 300px;
    border-radius: .5rem;
    margin: 1rem 4rem 0;
}

.fa-search{
    font-size: .8rem;
    cursor: default;
}

.active-contact{
    background-color: #e9ebeb;
}

#search-bar{
    width: 100%;
}